html,body{
  margin: 0;
  padding: 0;
  background: #000;
  color: #FFF;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 3px 3px 5px #333;
    outline: 0;
    &:hover{
      text-decoration: underline;
    }
  }
      width: 100%;
  #slider{
    text-align: center;
    .file{
      display: none;
      height: 100%;
      background: url(/images/loading.gif) no-repeat center center;
    }
  }
  #menu{
    position: absolute;
    background: #000;
    opacity: 0.5;
    text-align: center;
    width: 10vw;
    left: 0;
    top: 0;
    a {
      display: block;
    }
  }
  .prev, .next{
    position: absolute;
    left: 0;
    width: 25vw;
    line-height: 100vh;
    font-size: 3em;
    &:hover{
      text-decoration:none;
    }
  }
  .next{
    left: auto;
    right: 0;
  }
}
